
/* Inline #114 | https://puraprote.com/realizar-pago/#3-pago */

  .payment_method_baccredomatic img {
    display: none !important;
  }
  



  
  .pickup-location-field.pickup-location-field-per-order.pickup-location-package-field .pickup-location-lookup + .select2.select2-container {
    min-width: 290px !important;
  }


// Remove "opcional" from link ubicacion
#link_mapa_field .optional {
  display: none !important;
}


// Doble arrow on cities dropdown CO

/* Inline #95 | https://puraprote.co/realizar-pago/ */

#billing_tipo_id {
  appearance: none !important;
}
