//Mini cart flechas default tapan umero
body #wfacp-e-form input[type="number"].wfacp_mini_cart_update_qty.wfacp_product_quantity_number_field {
    /* Firefox */
    appearance: textfield;
    /* Chrome, Safari, Edge, Opera */
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
}


@media screen and (max-width: 1024px) {

    .pp__checkout__column-container.pp__checkout__column-container > .bwf-col {
    display: grid;
    grid-template-areas: "cart" "forms";
    }

    .bwf-inner-col.bwf-inner-col-0758d42a.pp__checkout__column-forms {
    grid-area: forms;
    }

    .bwf-inner-col.bwf-inner-col-1809b4aa.pp__checkout__column-cart {
    grid-area: cart;
    }

    .pp__checkout__confianza {
    display: none !important;
    }

}