/* #sg_delivery_address_shipping_popup_panel */


#wfacp_checkout_form #sg_delivery_address_billing_picker_map
{
  margin-bottom: 20px !important;
}


/* wfacp-form.min.css | https://pp.matilderosero.com/wp-content/plugins/funnel-builder-pro/modules/checkout/assets/css/wfacp-form.min.css?ver=3.11.0 */

body #wfacp-e-form input[type="date"], body #wfacp-e-form input[type="email"], body #wfacp-e-form input[type="number"], body #wfacp-e-form input[type="password"], body #wfacp-e-form input[type="tel"], body #wfacp-e-form input[type="text"], body #wfacp-e-form select, body #wfacp-e-form select#join_referral_program, body #wfacp-e-form textarea, body .wfacp_mini_cart_start_h input[type="date"], body .wfacp_mini_cart_start_h input[type="email"], body .wfacp_mini_cart_start_h input[type="number"], body .wfacp_mini_cart_start_h input[type="password"], body .wfacp_mini_cart_start_h input[type="tel"], body .wfacp_mini_cart_start_h input[type="text"], body .wfacp_mini_cart_start_h select, body .wfacp_mini_cart_start_h textarea {
    background-color: transparent !important;

  }
  
  #wfacp-e-form label {
  
    display: inline !important;

  }
  
  
  #sg_delivery_address_shipping_popup_panel {
    padding: 0 10px !important;
  }
  
  #wfacp_checkout_form #sg_delivery_address_billing_picker_map {

    margin-bottom: 20px !important;
  }
  
  #sg_delivery_address_shipping_picker_map {
 
    margin-bottom: 20px !important;
  }
  
  body.has-popup .sg-field:not(.sg-other-address-type) input[type="text"] {
  
    border: 1px solid #ddd !important;
  }
  
  body.has-popup .sg-field label.sg-field-label {
    position: initial !important;
  }
  