.nf-form-content button, .nf-form-content input[type="button"].wp-element-button, .nf-form-content input[type="submit"].wp-element-button {
    background-color: var(--wp--preset--color--primary);
    border-radius: 3px;
    border-color: var(--wp--preset--color--transparent);
    border-width: 4px;
    border-style: solid;
    color: var(--wp--preset--color--base);
    line-height: 1.2;
    padding-top: 0.65em;
    padding-right: 1em;
    padding-bottom: 0.65em;
    padding-left: 1em;
}

.nf-form-content button, .nf-form-content input[type="button"]:hover, .nf-form-content input[type="submit"]:hover {
    background-color: var(--wp--preset--color--contrast);
  }

  .nf-form-content button, .nf-form-content input[type="button"]:focus, .nf-form-content input[type="submit"]:focus {
    border-color: var(--wp--preset--color--primary);
  }

// Signup form
.pp__form__signup {
  nf-fields-wrap {
    // display: flex;
    nf-field {
      // background: red;
    }
  }

}