@import "checkout";
@import "checkout-mobile"; // cart before forms
@import "product";
@import "moovin-form";
@import "ninja";
@import "paymentez";
@import "slingblocks";
@import "woocommerce-loop";
/*
 * Slingblocks (Funnelkit) accordeon summary underline
 */
.bwf-accordion.bwf-accordion.bwf-accordion-4 .bwf-accordion-active .bwf-accordion-head {
    border-color: var(--wp--preset--color--primary);
}
  
  
/*
 * Product slider
 */
.wpsp-nav {
    display: none;
}
#wps-slider-section.wps-slider-section {
    padding-top: 0;
}
  

/* 
 * Ninja Forms
 */
 .nf-form-fields-required {
    display: none;
  } 


  // Free shipping bar

/* woocommerce-free-shipping-bar-frontend-style.css | /wp-content/plugins/woocommerce-free-shipping-bar/assets/css/woocommerce-free-shipping-bar-frontend-style.css?ver=6.4.2 */

#wfspb-top-bar.top_bar {
    box-sizing: border-box;
    overflow: hidden;
  }
  


/* style.min.css | https://puraprote.com/wp-includes/blocks/navigation/style.min.css?ver=d8bd7c8b40c8f597e344ce2f70314165 */

.wp-block-navigation .has-child .wp-block-navigation__submenu-container {
    /* z-index: 2; */
    z-index: 15 !important;
  }
  

// Yith affiliates
.yith-wcaf-link-generator .form-row input {
  box-sizing: border-box !important;
}

// Woocommerce shop OFERTA

/* Inline #28 | https://puraprote.com/tienda-pura-prote/ */

.wc-block-grid .wc-block-grid__product-onsale, .wc-block-grid__product-image .wc-block-grid__product-onsale {

  background: #000 !important;
  border: 1px solid #000 !important;
}

.woocommerce span.onsale {
  background-color: #000 !important;
}
