
#ltp-button.ltp-button {
    /* text-transform: uppercase; */
    /* letter-spacing: 2px; */
    text-transform: initial;
    letter-spacing: initial;
    background-color: var(--wp--preset--color--primary);
    border-radius: 3px;
    border-color: var(--wp--preset--color--transparent);
    border-width: 4px;
    border-style: solid;
    color: var(--wp--preset--color--base);
    font-family: inherit;
    font-size: var(--wp--preset--font-size--medium);
    font-weight: 700;
    line-height: 1.2;
    padding-top: 0.65em;
    padding-right: 1em;
    padding-bottom: 0.65em;
    padding-left: 1em;
    text-decoration: none;
  }
  

  #ltp-button.ltp-button:hover {
    background: #000;
  }
  

 