.woocommerce.woocommerce.woocommerce div.product .stock.out-of-stock {
    display: inline-block;
    border: 2px solid var(--wp--preset--color--vivid-red);
    border-radius: 5px;
    padding: 3px 8px;
    color: var(--wp--preset--color--vivid-red);
    font-weight: bold;
}
