.woocommerce .products ul li.product, 
.woocommerce ul.products li.product {
    text-align: center;

    .onsale {
        margin: -.5em .75em 0 0;
    }

    .woocommerce-loop-product__title {
        font-weight: normal;
        font-size: var(--wp--preset--font-size--medium);
    }

    .price {
        font-size: var(--wp--preset--font-size--large);
        font-weight: bold;
        del {
            color: var(--wp--preset--color--subtle);
            opacity: 1;
        }
    }

    .star-rating {
        margin-inline: auto;
        color: var(--wp--preset--color--primary);
        // span {
        //     color:red !important;
        //     &::before {
        //         color: var(--wp--preset--color--primary);
        //     }
        // }
        &::before {
            color: var(--wp--preset--color--primary);
        }
    }

    .button {
        font-size: var(--wp--preset--font-size--medium);
        min-width: 150px;
        border-radius: 3px;
        padding: 0.65em 1em;
        line-height: 1.2;
        border: 0;
    }
}



.woopspro-product-slider.woopspro-product-slider {
    .slick-list {
        padding-bottom: 50px;
    }
    .slick-dots.slick-dots {
        li button {
            background-color: #ccc !important;
            border: 0 !important;
        }
        li.slick-active button {
            background-color: #333 !important;
        }
    }
    
}
  
