/*
Theme Name: PuraProte Basic
Author: Mat Rosero
Author URI: https://matilderosero.com
Theme URI: https://puraprote.com
GitLab Theme URI: https://gitlab.com/puraprote/puraprote-basic
Primary Branch: main
Tags: full-site-editing, block-patterns
Text Domain: puraprote
Requires at least: 6.1
Requires PHP: 7.4
Tested up to: 6.2
Version: 1.0.0

License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

/* Styles intended only for the front.*/
html {
	scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {

	html {
		scroll-behavior: auto;
	}
}

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}
