
/* style-index.css | /wp-content/themes/puraprote-basic/build/style-index.css?ver=6.4.2 */

input[type="text"], input[type="password"], input[type="email"], input[type="number"], input[type="url"], input[type="tel"], input[type="phone"], input[type="search"], select, textarea {
  /* line-height: 1.7; */
  /* padding: 0.5rem 1em; */
  line-height: 1.2;
  padding: 0.25rem 1em;
}






