
/* Inline #81 | https://ppdev.test/preguntas-frecuentes/ */

.wp-block-navigation__responsive-container.is-menu-open {
    // width: 100%;
    // box-sizing: border-box;
    // background: red !important;
    padding: 1rem 0; 

    * {
        box-sizing: border-box;
    }

    .wp-block-navigation__container {
        /* background: red !important; */
        width: 100%;
    }

    .wp-block-navigation__responsive-container-close {
        /* right: 0; */
        right: 1rem;
    }

    .wp-block-navigation__container > .wp-block-navigation-item:not(:last-child) {
        border-bottom: 1px solid var(--wp--preset--color--gray);
        width: 100%;
    }

    .wp-block-navigation-item {
        padding: 0;
        // background-color: purple !important;
    }
    
    .wp-block-navigation__submenu-container.wp-block-navigation-submenu.wp-block-navigation-submenu {
        width: 100%;
        
        .wp-block-navigation-item {
            font-size: var(--wp--preset--font-size--small) !important;
            //background: red !important;
        }
    }
    
    

    .wp-block-navigation__submenu-container.wp-block-navigation-submenu.wp-block-navigation-submenu {
        border-top: 1px solid var(--wp--preset--color--gray);
    }
    
    /* style.min.css | https://ppdev.test/wp-includes/blocks/navigation/style.min.css?ver=6.4.2 */
    

    
    .wp-block-navigation .has-child .wp-block-navigation__submenu-container > .wp-block-navigation-item > .wp-block-navigation-item__content {
        width: 100%;
        box-sizing: border-box;
    }

    
    .wp-block-navigation__responsive-container-content .wp-block-navigation__submenu-icon.wp-block-navigation__submenu-icon {
        /* display: none; */
        position:absolute;
        display: inline-block !important;
        font-size: 2em;
        right: 1rem;
        top: 0.75rem;
    }


    // Next round::after

  .wp-block-navigation__responsive-container-content {
    padding-top: calc(1rem + 24px) !important;

  }
  
  .wp-block-navigation-item__content.wp-block-navigation-item__content {
    /* padding: 0; */
    padding: 0.5rem 1rem !important;
    width: 100%;
    // background-color: red !important;
  }
  
  .wp-block-navigation-submenu .wp-block-navigation-item + .wp-block-navigation-item > .wp-block-navigation-item__content.wp-block-navigation-item__content {
    padding-top: 0 !important;
    // background-color: red !important;
  }
  
}