// Remove underline from links in navbars
.wp-block-navigation {
    a {
        text-decoration: none;
    }
}

.wp-block-navigation.is-vertical {
    .site-footer & {
        gap: 0;
    } 
}

.current-menu-item.current-menu-item.current-menu-item a {
    color: var(--wp--preset--color--primary) !important;
}


[class*='pp__menu-item'] {
    font-size: 1px !important;
    color: transparent;
}

.pp__menu-item--cart {
    .wp-block-navigation-item__label img {
        filter: brightness(0);
    }
    @include hover {
        .wp-block-navigation-item__label img {
            filter: none;
        }
    }
}
  

@import "topbar";
@import "mobile-menu";