// CONTAINER QUERIES
.pp__topbar--row {
    container-type: inline-size;

    [aria-label="Topbar main menu"], 
    [aria-label="Topbar utilities"] {
        display: none;
    }
    
}

@container (min-width: 768px) {
    .pp__topbar--row {
        [aria-label="Topbar utilities"] {
            display: flex;
        }
    }
}

@container (min-width: 1400px) {
    .pp__topbar--row {
        [aria-label="Topbar main menu"] {
            display: flex;
        }
        nav:nth-of-type(3) {
            display: none;
        }
    }
}