.pp__topbar--row {

    .wp-block-group {
        padding-top: var(--wp--preset--spacing--40);
        padding-right: var(--wp--preset--spacing--40);
        padding-bottom: var(--wp--preset--spacing--40);
        padding-left: var(--wp--preset--spacing--40);
    }

    &.pp__topbar--row__3col .wp-block-group {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: minmax(min-content, 1fr) auto  auto;
    }

    .custom-logo-link {
        min-width: 100px;
    }

    .wp-block-navigation {
        font-size: var(--wp--preset--font-size--extra-small)
    }

    .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content {
        .wp-block-navigation-item, 
        .wp-block-navigation__container, 
        .wp-block-page-list {
            align-items: start;
        }
        .wp-block-navigation__container, 
        .wp-block-navigation__submenu-container {
            gap: 0 !important;
        }
    }

    .wp-block-navigation-item > .wp-block-navigation-submenu {
        padding: 0 !important;
        line-height: 1.7;
    }
}



:where(body .pp__topbar--row > .is-layout-constrained) > * {
    margin-block-start: 0;
}

// FOr the flag
.wp-block-navigation-item__content {
    img {
        vertical-align: middle;
        padding-bottom: 5px;;
        margin-right: 0.5em;
    }
}

// .pp__topbar--menu_large {
//     display: none;
// }

// .pp__topbar--end {
//     justify-self: end;
// }

// .pp__topbar--center {
//     justify-self: center;
// }

// core/group with PP style variation
.is-style-pp__topbar--group {
    padding: 0;
    > .wp-block-group {
        justify-content: space-between;
    }

    //Search
    :where(.wp-block-search__button-inside .wp-block-search__inside-wrapper) {
        border: 0;
        padding: 0;
    }
    .wp-block-search__button {
        /* border: 1px solid #ccc; */
        border: 0;
    }
}

@include small-only {
    .menu-link-text {
        display: none;
    }
}

// @include smallish-up {
//     .pp__topbar--row  .wp-block-group {
//         background: lightblue;
//     }
// }
@include medium-up {
    .pp__topbar--row  .wp-block-group {
        // background: lightcoral;
        .custom-logo-link {
            min-width: 136px;
        }
    }
}
// @include large-up {
//     .pp__topbar--row .wp-block-group {
//         background: aqua;
//     }
// }
@include xlarge-up {
    .pp__topbar--row.pp__topbar--row  .wp-block-group {
        background: transparent;
        grid-template-columns: 1fr auto 1fr;
        justify-items: end;
       
        > * {
            margin-left: initial !important;
            margin-right: initial !important;
        }

        > *:first-child {
            justify-self: start;
        }
    }

    // .pp__topbar--menu_large {
    //     display: block;
    // }
    // .pp__topbar--menu_mobile {
    //     display: none;
    // }
}






