#shipping_calculator_field .border {
    display: grid;
    grid-template-areas:
    "label"
    "form"
    "map";
}

.pp-checkout-map {
    grid-area: map;
    iframe {
        height: 400px;
        max-width: 100%;
    }
}

.wfacp_shipping_table {
    grid-area: form;
}
