.pp__cintillo {
    padding: 1rem;
    margin-top: 0;
    background-color: var(--wp--preset--color--primary);
    color: var(--wp--preset--color--base);
    text-align: center;
    // box-sizing: border-box;
    // width: 100%; //was vw

    // .editor-styles-wrapper & {
    //     width: 100%;
    // }
    .pp__cintillo-text{
        margin-block: 0;
    }

    &.pp__cintillo--has-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    
        .pp__cintillo-icons,
        .pp__cintillo-text {
            margin: 0;
            
        }
    
        .pp__cintillo-icons {
            margin-top: 0.5em;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .pp__cintillo-icon {
            margin-inline: 0.5rem;
            max-width: 50px;
            img {
                max-width: 100%;
                height: auto;
                display: block;
            }
        }
        
    
        .pp__cintillo-text {
            margin-inline: 1rem;
            flex-grow: 1;
            width: 100%;
        }
        
        @media screen and (min-width: 700px) {
            display: grid;
            justify-content: center;
            justify-items: center;
            grid-template-columns: auto minmax(auto,60%) auto;
            grid-template-areas: "icons1    text    icons2";
            .pp__cintillo-icons {
                margin-top: 0;
                &:nth-child(2) {
                    grid-area: icons1;
                }
                &:nth-child(3) {
                    grid-area: icons2;
                }
            }
            .pp__cintillo-text {
                grid-area: text;
            }
    
        }
    }

    @include smallish-down {
        padding-block: 2rem;
    }
    
}