.site-footer {
    font-size: var(--wp--preset--font-size--extra-small);
    ul {
        @include reset-list;
    }

    .pyme-logo {
        padding-top: 2rem !important;
    }

    @include smallish-down {
        .pp__footer--last-col {
            display: grid;
            grid-template-columns: auto 1fr;
            grid-column-gap: 50px;

            > *:first-child {
                grid-column: 1 / -1;
            }

            .pyme-logo {
                padding-top: 0 !important;
                justify-self: center;
                // margin-top: 0 !important;
            }
        }
    }
}