.pp__hero {
    background: #fff;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: 
        "text"
        "image";
    
    text-align: center;
    box-sizing: border-box;
    max-width: none;
    // border: 1px solid red;

    > * {
        max-width: 100%;
        box-sizing: border-box;
    }

    &.pp__hero--home {
        grid-template-rows: repeat(3,auto) 1rem;
        grid-template-areas: 
            "heading"    
            "image"
            "text"
            "..";

        > .pp__heading {
            grid-area: heading;
            z-index: 5;
            padding-inline: 20px; 
        }
    }
}

.pp__hero_text {
    grid-area: text;
    padding-inline: 20px; 
    z-index: 5;
    align-self: center;
}

.pp__hero_image {
    grid-area: image;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover; 
    }
}

@include large-up {
    .pp__hero {
        grid-template-columns: [image-start] 40% 1fr [image-end];
        grid-template-rows: [image-start] auto 1rem [image-end];
        grid-template-areas: 
        "text    .."
        "..    ..";
        text-align: left;

        .pp__hero_image {
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;  
            }
        }

        &.pp__hero--home {
            grid-template-rows: [image-start] auto auto 0.1rem [image-end];
            grid-template-areas: 
                "heading    .."    
                "text       .."
                "..         ..";
            grid-gap: 20px;
    
            > .pp__heading {
                align-self: end;
                margin-bottom: 0;
            }
            .pp__hero_text {
                align-self: start;
                > *:first-child {
                    margin-top: 0;
                }
            }
        }
    }

}

@include xlarge-up {
    .pp__hero {
        &.pp__hero--home {
            > .pp__heading {
                padding-left: 10vw;
            }
        }
    }
    .pp__hero_text {
        padding-left: 10vw;
    }
}