
/* content.css | https://ppdev.test/wp-content/plugins/strong-testimonials/templates/simple/content.css?ver=3.1.11 */

.testimonial-heading {
  display: none;
}

.strong-view.wpmtst-simple .wpmtst-testimonial-inner {
  /* text-align: left; */
  text-align: center;
}
  
  /* Inline #83 | https://ppdev.test/ */
  
.wpmtst-testimonial-content {
  position: relative;
  padding-inline: 3.25rem;
  &::before {
      content: '\201C';
      display: block;
      font-size: 6.5rem;
      line-height: 0.8;
      font-family: Georgia, serif;
      position: absolute;
      left: 0;
      top: 0.75rem;
      color: var(--wp--preset--color--primary);
  }
  h4 {
  font-weight: normal;
  // font-size: var(--wp--preset--font-size--large);
  }
  p {
      padding-bottom: 1rem;
  }

  .wp-block-heading.has-green-color + .strong-view & {
    &::before {
      color: var(--wp--preset--color--green);
    }
  }
}


  
  .strong-view.pager-style-buttons .wpmslider-pager-link.active::before {
    background: var(--wp--preset--color--primary);
    }

    .strong-view.nav-position-inside:not(.controls-type-sides) .wpmslider-controls {

        padding-top: 15px;

      }