  // wp-block-group woocommerce product is-layout-flow wp-block-group-is-layout-flow
  .woocommerce.product.wp-block-group.is-layout-flow {
    --pp--product-page--grid--width: 1100px;
    max-width: var(--pp--product-page--grid--width);
    margin-inline: auto;
    // background-color: pink;
  
    //wp-block-columns alignwide is-style-pp-columns__wp-breakpoints is-layout-flex wp-container-core-columns-layout-1 wp-block-columns-is-layout-flex"
    .is-style-pp-columns__wp-breakpoints.is-layout-flex {
      display: grid;
      grid-template-areas: 
        "image"
        "text";
      // background-color: pink;
      .wp-block-column:first-child {
        grid-area: image;
        // background-color: red;
      }
      .wp-block-column:last-child {
        grid-area: text;
        // background-color: purple;
      }
  
      @include medium-up {
        grid-template-columns: 1fr minmax(400px, 1fr);
        grid-template-areas: 
          "image  text";
        // background-color: blue;
      }
    }
  }  
  .woocommerce-tabs {
    > .tabs ~ * {
      max-width: 800px;
    }
  }