/* Tweak columns for Products by Category block */
@media (max-width: 900px) {
  .wc-block-grid.wc-block-grid.has-4-columns .wc-block-grid__product {
    /* max-width: 100%; */
    max-width: 50%;
    flex: 1 0 50%;
  }
  .wc-block-grid.wc-block-grid.has-4-columns .wc-block-grid__products {
    display: flex;
    // background-color: red !important;
  }
}

/* Tweak columns for Query Loop block */
@media (max-width: 900px) {

    .products-block-post-template.wp-block-post-template-is-layout-grid.wp-block-post-template-is-layout-grid.wp-block-post-template-is-layout-grid.wp-block-post-template-is-layout-grid {
    
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  
}

