

.type-product.product.product {
    .yith-par-message-variation, 
    .yith-par-message {

        margin: 1rem 0;
        padding: 0;
        font-size: 1rem;
    }
    .yith-par-message-variation.yith-par-message-product, 
    .yith-par-message.yith-par-message-product {
        margin-bottom: 0;
    }
}