
/* PP Grid */

// grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
.wp-container-core-post-template-layout-1.wp-container-core-post-template-layout-1.is-style-pp__shop-grid.is-style-pp__shop-grid.is-style-pp__shop-grid {
    --pp__product-grid__product--width: 200px;
    grid-template-columns: repeat(auto-fit, minmax(var(--pp__product-grid__product--width), 1fr));
    // gap: var(--wp--preset--spacing--60);
  
    .wp-block-post.product {
      // background-color: red;
      display: flex;
      flex-direction: column;
      > .wp-block-post-title {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      > .wp-block-woocommerce-product-price {
        // flex-grow: 1;
        // background-color: blue;
      }
    }
  }
  
  
  
  @media screen and (min-width: 960px) {
    .wp-container-core-post-template-layout-1.wp-container-core-post-template-layout-1.is-style-pp__shop-grid.is-style-pp__shop-grid.is-style-pp__shop-grid {
      --pp__product-grid__product--width: 250px;
    }
    
  }
  
  @media screen and (min-width: 1440px) {
    .wp-container-core-post-template-layout-1.wp-container-core-post-template-layout-1.is-style-pp__shop-grid.is-style-pp__shop-grid.is-style-pp__shop-grid {
      --pp__product-grid__product--width: 300px;
    }
  }