.woocommerce-page label:has(.screen-reader-text) {
    margin: 0;
}
.wc-block-grid__products .wc-block-grid__product-image img {
    width: 100%;
}

.wp-block-button.wc-block-components-product-button .wc-block-components-product-button__button {
    min-width: 150px;
    width: auto;
}