.wp-block-woocommerce-product-details ul.wc-tabs.wc-tabs {
    border-bottom: 0;
  }
.woocommerce div.product .woocommerce-tabs.woocommerce-tabs ul.tabs li a:hover {
text-decoration: none;
color: var(--wp--preset--color--primary);
}