.woo-variation-swatches.woo-variation-swatches {
    .wvs-style-squared.variable-items-wrapper .variable-item:not(.radio-variable-item) {
        border-radius: 1em;
    }
    .variable-items-wrapper .variable-item:not(.radio-variable-item) {
        box-shadow: var(--wvs-item-box-shadow,0 0 0 1px var(--wp--preset--color--subtle));
        padding: 2px 1.5ch;
        &:focus, 
        &:hover {
          box-shadow: var(--wvs-hover-item-box-shadow,0 0 0 3px var(--wp--preset--color--primary));
          color: var(--wp--preset--color--primary);
        }
    } 
}





.woocommerce div.product form.cart table.variations.variations th {
    line-height: initial;
  }
  

/* 
 * Remove GTI variations 
 */

// Variations table (single product page, FK cart select options)
// :is(#fkcart-modal, .woocommerce) table.variations.variations tr:has(label[for="pa_unidad-medida"], label[for="pa_codigo-tarifa"],label[for="pa_codigo-cabys"]) {
//     display: none;
// }

// FK cart
// #fkcart-modal .fkcart-item-wrap .fkcart--item .fkcart-item-meta-content .fkcart-attr-wrap:has(span[data-attr-key="Unidad Medida"],span[data-attr-key="Codigo Tarifa"],span[data-attr-key="Codigo Cabys"]) {
//     display: none;
    
// }

// FK checkout
// .variation-UnidadMedida,
// .variation-CodigoTarifa,
// .variation-CodigoCabys {
//     display: none;
// }

// Order history
// [href*="attribute_pa_codigo-cabys"] ~ .wc-item-meta li:not(:first-child) {
//     display: none;
// }
