// Remove?
.wp-block-post.product {
    display: flex;
    flex-direction: column;

    .wp-block-post-title {
        font-weight: normal;
        a {
            text-decoration: none;
        }
    }

    .wc-block-components-product-price {
        font-weight: bold;
    }

    // .type-product.product 
    .yith-par-message.yith-par-message-loop {
        margin-bottom: 0.5rem !important;
        margin-top: 0 !important;
        background-color: var(--wp--preset--color--primary) !important;
        color: #fff !important;
        align-self: center;
    }
  
  .yith-par-message-variation,.yith-par-message {

    margin: 0;
    padding: 0 1ch !important;
  }
  
  /* Element | https://ppdev.test/tienda/ */
  
  li.wp-block-post:nth-child(8) > div:nth-child(3) {
    /* background-color: rgba(255,255,255,0); */
    background-color: red;
  }
  
}

.wc-block-grid__product-rating {
    color: var(--wp--preset--color--primary);
}

.wc-block-components-product-image,
.wc-block-grid__product-image,
.woocommerce-product-gallery__image {
    border-radius: var(--pp--border--radius);
}

.wp-block-woocommerce-product-image-gallery {
    margin-inline: auto;
}


@import "woo-colors";
@import "breadcrumbs";
@import "tabs";
@import "variations";
@import "free-shipping-bar";
@import "points";
@import "product-grid";
@import "columns";
@import "columns-single-product";
// @import "pp-grid";