.woocommerce.woocommerce {
    ul.products li.product .price,
    div.product p.price,
    div.product span.price,
    div.product .stock {
        color: inherit;
    }
}

.wp-block-woocommerce-product-price {
    del {
        color: var(--wp--preset--color--subtle);
        
    }
    *:is(del + ins, .is-discounted) {
        text-decoration: none !important;
        color: var(--wp--preset--color--primary);
    }
}

