.hide-menu-item-text {
    font-size: 0.1em !important;
    color: rgba(0,0,0,0);
}
  
.pp__box.pp__box.pp__box.pp__box.pp__box.pp__box {
    border: 1px solid var(--wp--preset--color--gray);
}
.pp__box {
    background: #fff;
    

    display: block;

    &.is-style-pp-box__icon-left {
        .wp-block-outermost-icon-block {
            margin-right: 1ch;
        }
        
        grid-template-columns: min-content 1fr;
        grid-template-areas: 
            "icon   heading";
    }
    &.is-style-pp-box__icon-right {
        .wp-block-outermost-icon-block {
            margin-left: 1ch;
        }
        grid-template-columns: 1fr min-content;
        grid-template-areas: 
            "heading   icon";
    }

    &.is-style-pp-box__icon-left,
    &.is-style-pp-box__icon-right {
        // background-color: purple;
        // display: flex;
        // flex-direction: row;
        // flex-wrap: wrap;
        // align-items: center;
        // justify-content: center;
        display: grid;
        grid-column-gap: 1ch;
        // grid-row-gap: 1em;
        
        align-items: start;

        p,
        .wp-block-image,
        *:has(p, .wp-block-image) {
            // flex-grow: 1;
            width: 100%;
            grid-column: 1 / -1;
            &:first-of-type {
                margin-top: 1rem;
            }
        }

        :is(h2,h3,h4,h5,h6),
        *:has(h2,h3,h4,h5,h6) {
            // flex-grow: 1;
            margin: 0;
            // background-color: yellow;
            grid-area: heading;
            align-self: center;
            &.has-text-align-center {
                flex-grow: 0;
            }
        }

        .wp-block-outermost-icon-block {
            flex-shrink: 1;
            display: inline-block;
            grid-area: icon;
        }
    }

    > .wp-block-outermost-icon-block {

        &:first-child {
            // background-color: red;
            // float: left;
        }
        &:nth-child(2) {
            // background-color: blue;
            // float: right;
        }
    }
}
