.wp-block-heading {
    // line-height: 1.25;
    .site-footer &:not(.has-small-font-size) {
        font-size: var(--wp--preset--font-size--medium);
        text-transform: uppercase;
        text-decoration: underline;
        text-underline-offset: 0.5em;
    }
}

main > .wp-block-post-title:first-child {
    padding-block: var(--wp--preset--spacing--60);
    font-size: var(--wp--preset--font-size--xx-large);
    line-height: 1.2;
    text-align: center;
}

.pp__heading {
    line-height: 1.25;
}