.banner_healthy {
    text-align: center;
    ul {
        @include reset-list();
        display: flex;
        justify-content: center;
        gap: 1rem;

        img {
            max-width: 70px;
        }
    }

    @media screen and (min-width: 850px) {
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-gap: 3rem;
        align-items: center;
    }
}
