@media (max-width: 900px) {

    .wp-site-blocks .wp-block-columns.wp-block-columns:not(.is-not-stacked-on-mobile, .product-header, .is-style-pp-columns__wp-breakpoints) > .wp-block-column.wp-block-column {
      flex-basis: 100% !important;
    }
    .wp-block-columns.wp-block-columns:not(.is-not-stacked-on-mobile, .product-header, .is-style-pp-columns__wp-breakpoints) {
      flex-wrap: wrap !important;
    }


  .wp-block-media-text.wp-block-media-text.is-stacked-on-mobile {
    grid-template-columns: 100% !important;
  }
  .wp-block-media-text.wp-block-media-text.is-stacked-on-mobile .wp-block-media-text__media {
    grid-column: 1;
    grid-row: 1;
  }
  .wp-block-media-text.wp-block-media-text.is-stacked-on-mobile .wp-block-media-text__content {
    grid-column: 1;
    grid-row: 2;
  }
    
}
@media (min-width: 901px) {


  *:not(.is-style-slider-inner) {
    .wp-block-columns.wp-block-columns:not(.is-not-stacked-on-mobile, 
    .product-header, .is-style-pp-columns__wp-breakpoints) 
    > .wp-block-column.wp-block-column {
      flex-basis: 0;
      flex-grow: 1;
    }
    .wp-block-columns.wp-block-columns:not(.is-not-stacked-on-mobile, .product-header, .is-style-pp-columns__wp-breakpoints) {
      flex-wrap: nowrap !important;
    }
  }

    
    
}
