.wp-block-details {
    padding: 0 var(--wp--preset--spacing--40);
}

.pp__details {
    --pp--summary--text--color: var(--wp--preset--color--primary);
    box-sizing: border-box;
    summary {
        font-size: var(--wp--preset--font-size--large);
        font-weight: bold;
        position: relative;
        padding-block: 0.5rem;
        padding-right: 1.5em;

        h1,h2,h3,h4,h5,h6 {
            font-size: var(--wp--preset--font-size--large);
            margin: 0;
            line-height: 1.2;
        }

        &::marker {
            content: '';
            font-size: 1.2em;
            position:absolute;
            right: 0;
            display: none;
        }
        &::-webkit-details-marker { display: none }

        &:before {
            @include arrow;
            @include arrow-down;
        }
    }

    &:not(.is-style-pp-details-dropdown__not-all-caps) summary {
        text-transform: uppercase;
    }

    &[open],
    &:hover {
        summary{
            color: var(--pp--summary--text--color);
            &::before {
                border-color: var(--pp--summary--text--color);
            }
        }
    }
    &[open] {
        summary{
            &::before {
                @include arrow-up;
            }
        }
    }

    &.pp__details--accordion {
        summary {
            border-bottom: 1px solid var(--wp--preset--color--gray);
        }
    }

    &.is-style-pp-details__green {
        --pp--summary--text--color: var(--wp--preset--color--green);
    }
    &.is-style-pp-detail__orange {
        --pp--summary--text--color: var(--wp--preset--color--orange);
    }
    &.is-style-pp-details__purple {
        --pp--summary--text--color: var(--wp--preset--color--purple);
    }
    &.is-style-pp-details__red {
        --pp--summary--text--color: var(--wp--preset--color--red);
    }
}

