.pp__grid,
.pp__grid > .block-editor-inner-blocks > .block-editor-block-list__layout {
    --pp-grid--min-width:100px;
    --pp-grid--gap: 1rem;
    display: grid;
    
    grid-template-columns: repeat(auto-fit, minmax(var(--pp-grid--min-width), 1fr));
    grid-gap: var(--pp-grid--gap);

    > * {
        margin-block: 0;
    }
}

.pp__grid {
    container-type: inline-size;
}
@container ( min-width: 739px ) and ( max-width: 995px ) {
    .pp__grid__col--span-all-tablet {
        .site-footer & {
            grid-column: 1 / -1;
        }
    }
}
@container ( min-width: 752px ) and ( max-width: 1143px ) {
    .pp__grid--envios-recoleccion .pp__grid__col--span-all-tablet {
        grid-column: 1 / -1;
    }
}
