#slider
{
  //background-color: pink;
  min-height: 80px;
	margin: auto;
	overflow: hidden;
	padding: 10px;
	position: relative;
	width: 600px;
  
  ul {
    list-style: none;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 9000px;
    transition: left .2s linear;
    -moz-transition: left .2s linear;
    -o-transition: left .2s linear;
    -webkit-transition: left .2s linear;
    margin-left: -25px;
    
    li {
      float: left;
      position: relative;
      width: 600px;
      display: inline-block;
      height: 200px;      
    }
  }
}

/* Content */
#slider-container
{
  color: #04386A;
  font-size: 1.8em;  
  font-weight: 900;
  line-height: 1.1;
  margin: 0 auto;
  max-width: 550px;
  min-height: 180px;
  padding: 0;
  text-align:center;

  span {
    color: rgba(4,56,106,.70);
    display: inline-block;
    font-size: 70%;
    font-weight: 300;
    line-height: 1.2;
  }
}

/*** target hooks ****/

@-webkit-keyframes slide-animation {
	0% {opacity:0;}
	2% {opacity:1;}
	20% {left:0px; opacity:1;}
	22.5% {opacity:0.6;}
	25% {left:-600px; opacity:1;}
	45% {left:-600px; opacity:1;}
	47.5% {opacity:0.6;}
	50% {left:-1200px; opacity:1;}
	70% {left:-1200px; opacity:1;}
	72.5% {opacity:0.6;}
	75% {left:-1800px; opacity:1;}
	95% {opacity:1;}
	98% {left:-1800px; opacity:0;} 
	100% {left:0px; opacity:0;}
}

#slider ul
{
	-webkit-animation: slide-animation 20s infinite;
}

#slider ul:hover
{
	-moz-animation-play-state: paused;
	-webkit-animation-play-state: paused;
}