:root {
    --pp__logos--logo_width: 250px;
    --pp__logos--count: 12;
    --pp__logos--container_width: calc(var(--pp__logos--logo_width) * var(--pp__logos--count));
}
body .is-layout-constrained .pp__logos.pp__logos {
    max-width: none !important;
    margin-left: initial !important;
    margin-right: initial !important;
}  
.pp__logos {
    display: flex;
    align-items: center;
    perspective: 1000px;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    transform-style: preserve-3d;

    .wp-block-image {
        width: var(--pp__logos--logo_width);
        flex: 0 0 auto;
        align-content: center;
        text-align: center;
        -webkit-backface-visibility: hidden;
        -webkit-perspective: 1000;
        perspective: 1000px;
        transform-style: preserve-3d;
        backface-visibility: hidden;
    }
}


.pp__logos:not(.wp-block) {
    // border: 3px solid greenyellow;
    .wp-block-image {
            // border: 1px solid red !important;
            animation: ticker-kf 40s linear infinite;
            &:last-child {
                // border: 1px solid blue !important; 
            }
    }
}


.editor-styles-wrapper {
    .pp__logos {
        width: 100% !important;
        > div {
            width: 100% !important;
        }
        .block-editor-block-list__layout {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%;
            overflow-x: scroll;
            padding-bottom: 30px;
        }
        .wp-block-image {
            .components-resizable-box__container {
                // border: 4px solid teal;
                align-content: center;
                width: 100%;
                img {
                    margin: 0 auto;
                }
            }
        }
        .block-list-appender {
            bottom: 20px;
        }
    }
}

@keyframes ticker-kf {
    0% {
      transform: translate3d(0, 0, 0);
    }
  
    100% {
      transform: translate3d(calc(var(--pp__logos--container_width) * -1), 0, 0);
    }
}