.pp__button {
    text-decoration: none;
    padding: var(--wp--preset--spacing--40);
    > *:first-child {
        margin-top: 0;
    }
    > *:last-child {
        margin-bottom: 0;
    }
    @include hover {
        box-shadow: 0 0 5px 0px var(--wp--preset--color--gray);
        
        .pp__heading {
            color: var(--wp--preset--color--primary);
        }
        svg {
            fill:  var(--wp--preset--color--primary);
        }
    }
}