#pp__slider {

  --pp__slider-heading_size: 1.75rem;
  --pp__slider-text_size: var(--wp--preset--font-size--medium);
  --pp__slider-button_size: var(--wp--preset--font-size--medium);

  .wp-block-heading {
    font-size: var(--pp__slider-heading_size);
  }

  .wp-block-heading ~ p {
    font-size: var(--pp__slider-text_size);
    line-height: 1.5;
  }
  :where(.wp-element-button, .wp-block-button__link) {
    font-size: var(--pp__slider-button_size);
  
  }
  .pp__slider_blackfriday {
    .wp-block-heading {
      text-transform: uppercase;
    }
  }

  .pp__slider_blackfriday_col2 {
    // border: 3px solid yellow;

    @media (max-width: 1023px) {
      // border: 3px solid purple;
      padding: 0 !important;
      // padding: 14vw 0 0 0 !important;
      // display: flex;
      // align-content: center;
      .wp-block-image {
        display: none !important;

      }
    }
  }

  .superblockslider {
    // border: 3px solid blue;
  }

  // MEDIA QUERY FOR IPAD MINI 
  @media only screen and (min-device-width : 744px) 
  and (max-device-width : 1023px) and (orientation : portrait),
  (min-width: 744px) and (max-width : 1023px) and (orientation : portrait) {
    --pp__slider-heading_size: var(--wp--preset--font-size--slider);
    --pp__slider-text_size: var(--wp--preset--font-size--slider-small);
    // --pp__slider-button_size: var(--wp--preset--font-size--large);


    .superblockslider {
      // border: 3px solid red;
      height: 800px !important;

      .image--sm.visible--sm {
        display: none;
      }
      
      .image--md.visible--md {
        display: block;
      }
      
    }
  } 
  @media (min-width: 768px) {
    --pp__slider-heading_size: var(--wp--preset--font-size--slider);
    --pp__slider-text_size: var(--wp--preset--font-size--slider-small);
    .superblockslider {
      height: 800px !important;
    }
  }
  @media (min-width: 1024px) {
    .superblockslider {
      height: 520px !important;
    }
  }
  @media (min-width: 1280px) {
    .superblockslider {
      height: 600px !important;
    }
  } 
  @media (min-width: 1670px) {
    .superblockslider {
      height: 850px !important;
    }
  } 


  // Columns inside block slider
  .superblockslider {
    @media (max-width: 1023px) {
      .wp-block-columns.wp-block-columns:not(.is-not-stacked-on-mobile, .product-header, .is-style-pp-columns__wp-breakpoints) > .wp-block-column.wp-block-column {
        flex-basis: 100% !important;
      }
      .wp-block-columns.wp-block-columns:not(.is-not-stacked-on-mobile, .product-header, .is-style-pp-columns__wp-breakpoints) {
        flex-wrap: wrap !important;
      }
    
    }
    @media (min-width: 1024px) {
      *:not(.is-style-slider-inner) {
        .wp-block-columns.wp-block-columns:not(.is-not-stacked-on-mobile, 
        .product-header, .is-style-pp-columns__wp-breakpoints) 
        > .wp-block-column.wp-block-column {
          flex-basis: 0;
          flex-grow: 1;
        }
        .wp-block-columns.wp-block-columns:not(.is-not-stacked-on-mobile, .product-header, .is-style-pp-columns__wp-breakpoints) {
          flex-wrap: nowrap !important;
        }
      }
    }
  }
}