
@media (min-width: 901px) and (max-width: 1023px) {
  .superblockslider__slide_inner {
    .wp-block-columns.wp-block-columns.is-style-slider-inner, 
    .is-style-slider-inner.is-style-slider-inner.is-style-slider-inner > .wp-block-column.wp-block-column {
      flex-basis: initial;
      flex-grow: initial;
    }
    .wp-block-columns.wp-block-columns:not(.is-not-stacked-on-mobile, .product-header, 
    .is-style-pp-columns__wp-breakpoints) {
      flex-wrap: wrap !important;
    }

    .is-style-slider-inner > .wp-block-column[style="flex-basis:40%"] {
      flex-basis: 100% !important;
    }
  }
}
@media (max-width: 767px) {
  .is-style-slider-inner {
      .pp__heading.has-xx-large-font-size {
              font-size: var(--wp--preset--font-size--x-large) !important;   
      }
  }
}
@media (max-width: 488px) {
  .is-style-slider-inner {
      .pp__heading.has-xx-large-font-size {
              font-size: var(--wp--preset--font-size--large) !important;   
      }
  }
}

@media (max-width: 1023px) {
  .is-style-slider-inner {
      *:is(.pp__heading, .wp-block-heading, p)  {
          
          text-align: center;
      }
      .mc4wp-form-fields,
      .wp-block-buttons {
          justify-content: center !important;
      }
  }

  //text typing plugin: center text
  .ttbTextTyping {
    text-align: center !important;
  }
}
@media (min-width: 1024px) {
.superblockslider {
  height: 620px !important;
}
.superblockslider__slide .superblockslider__slide_inner {
  justify-content: center !important;
}
//text typing plugin: left align text
.ttbTextTyping {
  text-align: left !important;
}
}

