<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:pp-theme/pp-hero-home {"mobileImgID":16525,"mobileImgURL":"./wp-content/themes/puraprote-basic/assets/images/protes-home-movil.jpg","imgID":16524,"imgURL":"./wp-content/themes/puraprote-basic/assets/images/protes-home-desk.jpg","heading":"Proteínas realmente limpias","cintillo":"\u003cstrong\u003eTodos nuestros productos son libres\u003c/strong\u003e de saborizantes, edulcorantes, preservantes, colorantes y demás aditivos innecesarios.","cintilloImages":[16200,16201,16202,16203,16204,16205],"textColor":"primary","style":{"spacing":{"padding":{"top":"0","bottom":"0"},"margin":{"top":"0","bottom":"0"}}}} -->
<!-- wp:paragraph {"textColor":"contrast","fontSize":"medium"} -->
<p class="has-contrast-color has-text-color has-medium-font-size"><strong>¿Leés etiquetas?</strong><br>Suscribite para liberarte de los aditivos.</p>
<!-- /wp:paragraph -->

<!-- wp:mailchimp-for-wp/form {"id":12949} /-->
<!-- /wp:pp-theme/pp-hero-home -->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50"},"padding":{"top":"var:preset|spacing|80","bottom":"var:preset|spacing|70"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="margin-top:var(--wp--preset--spacing--50);margin-bottom:var(--wp--preset--spacing--50);padding-top:var(--wp--preset--spacing--80);padding-bottom:var(--wp--preset--spacing--70)"><!-- wp:heading {"textAlign":"center","fontSize":"x-large"} -->
<h2 class="wp-block-heading has-text-align-center has-x-large-font-size">PRODUCTOS DESTACADOS</h2>
<!-- /wp:heading --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|80"},"padding":{"right":"var:preset|spacing|50","left":"var:preset|spacing|50"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="margin-top:var(--wp--preset--spacing--30);margin-bottom:var(--wp--preset--spacing--80);padding-right:var(--wp--preset--spacing--50);padding-left:var(--wp--preset--spacing--50)"><!-- wp:shortcode -->
[woo_product_slider id="16218"]
<!-- /wp:shortcode --></div>
<!-- /wp:group -->

<!-- wp:group {"align":"full","style":{"spacing":{"margin":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull" style="margin-top:var(--wp--preset--spacing--60);margin-bottom:var(--wp--preset--spacing--60)"><!-- wp:media-text {"align":"full","mediaPosition":"right","mediaId":15189,"mediaLink":"/scoop-con-sombra-2/","mediaType":"image","mediaWidth":55,"verticalAlignment":"center","style":{"spacing":{"margin":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50"}}},"className":"is-style-default"} -->
<div class="wp-block-media-text alignfull has-media-on-the-right is-stacked-on-mobile is-vertically-aligned-center is-style-default" style="margin-top:var(--wp--preset--spacing--50);margin-bottom:var(--wp--preset--spacing--50);grid-template-columns:auto 55%"><div class="wp-block-media-text__content"><!-- wp:heading {"style":{"color":{"text":"#000000"}},"fontSize":"x-large"} -->
<h2 class="wp-block-heading has-text-color has-x-large-font-size" style="color:#000000"><strong>NUTRICIÓN LIMPIA</strong></h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"style":{"color":{"text":"#000000"}}} -->
<p class="has-text-color" style="color:#000000">Pura Prote es una empresa costarricense que nació para combatir la desinformación e ingredientes innecesarios que sofocan la industria de la nutrición. </p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Eliminamos los trucos de mercadeo y aditivos cuestionables que usan otras marcas. Nuestros productos se hacen con la cantidad mínima y mayor pureza de ingredientes. Todo lo anterior para ofrecerte productos puros, que no vayan a deshacer tus esfuerzos de nutrición limpia.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p></p>
<!-- /wp:paragraph -->

<!-- wp:buttons {"style":{"spacing":{"margin":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40"}}}} -->
<div class="wp-block-buttons" style="margin-top:var(--wp--preset--spacing--40);margin-bottom:var(--wp--preset--spacing--40)"><!-- wp:button {"className":"is-style-fill"} -->
<div class="wp-block-button is-style-fill"><a class="wp-block-button__link wp-element-button" href="/nutricion-limpia/">Ver Blog Nutrición Limpia</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div><figure class="wp-block-media-text__media"><img src="./wp-content/themes/puraprote-basic/assets/images/scoop-con-sombra.jpg" alt="" class="wp-image-15189 size-full"/></figure></div>
<!-- /wp:media-text --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"var:preset|spacing|80","bottom":"var:preset|spacing|80"},"padding":{"top":"var:preset|spacing|80","bottom":"var:preset|spacing|80","left":"var:preset|spacing|50","right":"var:preset|spacing|50"},"blockGap":"0"}},"layout":{"type":"constrained","contentSize":"1200px"}} -->
<div class="wp-block-group" style="margin-top:var(--wp--preset--spacing--80);margin-bottom:var(--wp--preset--spacing--80);padding-top:var(--wp--preset--spacing--80);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--80);padding-left:var(--wp--preset--spacing--50)"><!-- wp:columns {"style":{"spacing":{"padding":{"right":"0","left":"0"},"blockGap":{"left":"var:preset|spacing|60"}}}} -->
<div class="wp-block-columns" style="padding-right:0;padding-left:0"><!-- wp:column {"layout":{"type":"default"}} -->
<div class="wp-block-column"><!-- wp:pp-theme/pp-button {"linkObject":{"url":"/tienda/","id":17,"title":"Tienda Pura Prote","type":"page","kind":"post-type"},"className":"is-style-pp-box__icon-left","style":{"spacing":{"blockGap":"0"}}} -->
<!-- wp:outermost/icon-block {"iconName":"","width":"2.1rem"} -->
<div class="wp-block-outermost-icon-block"><div class="icon-container" style="width:2.1rem"><svg id="Layer_1" data-name="Layer 1" viewBox="0 0 37 40"><path d="M34.24,27.52H15.07a2.07,2.07,0,0,1-.83-.18,3.77,3.77,0,0,1,.94-1.49l1.32-1.47,17.39-1.8A1.23,1.23,0,0,0,35,21.5L36.55,9.41a1.27,1.27,0,0,0-.29-1A1.25,1.25,0,0,0,35.35,8l-24.8-.83L8.83,3.08a1.25,1.25,0,0,0-1-.76l-6-.59A1.24,1.24,0,0,0,1.56,4.2l5.26.53L14.44,23l-1.11,1.24,0,0c-.53.61-2.14,2.46-1.36,4.17S14.82,30,15.07,30H34.24a1.25,1.25,0,1,0,0-2.49ZM11.6,9.71l22.3.74-1.25,9.76-16,1.65Z"></path><path d="M31.59,30.81a3.74,3.74,0,1,0,3.73,3.74A3.75,3.75,0,0,0,31.59,30.81Zm0,5a1.25,1.25,0,1,1,1.24-1.24A1.25,1.25,0,0,1,31.59,35.79Z"></path><path d="M15.56,30.81a3.74,3.74,0,1,0,3.74,3.74A3.75,3.75,0,0,0,15.56,30.81Zm0,5a1.25,1.25,0,1,1,1.25-1.24A1.25,1.25,0,0,1,15.56,35.79Z"></path></svg></div></div>
<!-- /wp:outermost/icon-block -->

<!-- wp:pp-theme/pp-heading-plain {"text":"Visitar tienda"} /-->

<!-- wp:pp-theme/pp-paragraph-plain {"text":"Somos una tienda virtual. Podés pagar con tarjeta, transferencia o sinpe."} /-->
<!-- /wp:pp-theme/pp-button --></div>
<!-- /wp:column -->

<!-- wp:column {"layout":{"type":"default"}} -->
<div class="wp-block-column"><!-- wp:pp-theme/pp-button {"linkObject":{"url":"/envios-y-recoleccion/","id":3225,"title":"Envíos","type":"page","kind":"post-type"},"className":"is-style-pp-box__icon-left"} -->
<!-- wp:outermost/icon-block {"iconName":"","width":"2.6rem"} -->
<div class="wp-block-outermost-icon-block"><div class="icon-container" style="width:2.6rem"><svg id="Layer_1" data-name="Layer 1" viewBox="0 0 42 40"><path d="M10.7,13h0l4.21,0a1.21,1.21,0,0,0,0-2.42l-3,0V7.71a1.21,1.21,0,1,0-2.42,0v4.1a1.17,1.17,0,0,0,.35.85A1.22,1.22,0,0,0,10.7,13Z"></path><path d="M41.34,24.57l-7-7.18a1.19,1.19,0,0,0-.87-.37H29.08V11.79a1.22,1.22,0,0,0-1.21-1.21H21A10.37,10.37,0,1,0,2.54,18.19V33.83A1.21,1.21,0,0,0,3.75,35H6.33a5,5,0,0,0,1.25,2.09,5,5,0,0,0,8.32-2.08H29.09a4.88,4.88,0,0,0,1.25,2.08,5,5,0,0,0,8.32-2.08h1.81a1.21,1.21,0,0,0,1.21-1.21V25.41A1.21,1.21,0,0,0,41.34,24.57ZM2.74,11.78a8,8,0,1,1,8,8A8,8,0,0,1,2.74,11.78Zm8.38,24.43a2.62,2.62,0,1,1,2.62-2.62A2.62,2.62,0,0,1,11.12,36.21Zm15.5-3.58H16a5,5,0,0,0-9.82,0H5V20.42a10.28,10.28,0,0,0,5.74,1.74A10.39,10.39,0,0,0,21,13h5.65ZM29,19.44h4l4.61,4.76H29Zm4.83,16.77a2.62,2.62,0,1,1,2.62-2.62A2.62,2.62,0,0,1,33.87,36.21Zm5.39-3.58h-.48A5,5,0,0,0,29,32.29V26.63H39.26Z"></path></svg></div></div>
<!-- /wp:outermost/icon-block -->

<!-- wp:pp-theme/pp-heading-plain {"text":"Envíos y Recolección"} /-->

<!-- wp:pp-theme/pp-paragraph-plain {"text":"Te llevamos el pedido a la casa o retiralo en un punto de recolección. "} /-->
<!-- /wp:pp-theme/pp-button --></div>
<!-- /wp:column -->

<!-- wp:column {"layout":{"type":"default"}} -->
<div class="wp-block-column"><!-- wp:pp-theme/pp-button {"linkObject":{"url":"/nutricion-limpia/","id":19,"title":"Recolección","type":"page","kind":"post-type"},"className":"is-style-pp-box__icon-left"} -->
<!-- wp:outermost/icon-block {"iconName":"wordpress-sparkles","width":"1.4rem"} -->
<div class="wp-block-outermost-icon-block"><div class="icon-container" style="width:1.4rem"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true"><path d="M10 11c-1.588-.479-4-.91-4-.91s2-.241 4-.454c1.8-.191 3.365-.502 4-3.181C14.635 3.775 15 1 15 1s.365 2.775 1 5.455c.635 2.679 2 2.969 4 3.181 2 .213 4 .455 4 .455s-2.412.43-4 .909c-1.588.479-3 1-4 4.546-.746 2.643-.893 4.948-1 5.454-.107-.506-.167-2.5-1-5.454C13 12 11.588 11.479 10 11zM7.333 3.5C6.803 3.333 6 3.182 6 3.182s.667-.085 1.333-.16c.6-.066 1.122-.175 1.334-1.113C8.878.971 9 0 9 0s.122.971.333 1.91c.212.937.667 1.038 1.334 1.113.666.074 1.333.159 1.333.159s-.804.15-1.333.318c-.53.167-1 .35-1.334 1.59C9.085 6.017 9.036 6.824 9 7c-.036-.177-.056-.875-.333-1.91-.334-1.24-.804-1.423-1.334-1.59zM2.444 18C1.474 17.713 0 17.454 0 17.454s1.222-.145 2.444-.272c1.1-.115 2.057-.302 2.445-1.91C5.277 13.666 5.5 12 5.5 12s.223 1.665.611 3.273c.388 1.607 1.222 1.781 2.445 1.909 1.222.127 2.444.273 2.444.273s-1.474.258-2.444.545c-.971.287-1.834.6-2.445 2.727-.456 1.586-.546 2.97-.611 3.273-.065-.304-.102-1.5-.611-3.273C4.278 18.6 3.415 18.287 2.444 18z"></path></svg></div></div>
<!-- /wp:outermost/icon-block -->

<!-- wp:pp-theme/pp-heading-plain {"text":"Recetas "} /-->

<!-- wp:pp-theme/pp-paragraph-plain {"text":"Descubrí nuestro recetario Pura Prote para inspiración gastronómica."} /-->
<!-- /wp:pp-theme/pp-button --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:group {"align":"full","style":{"spacing":{"margin":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|70"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull" style="margin-top:var(--wp--preset--spacing--70);margin-bottom:var(--wp--preset--spacing--70)"><!-- wp:media-text {"align":"full","mediaId":16130,"mediaLink":"/sostenibilidad/cover-sostenibilidad-movil/","mediaType":"image","mediaWidth":55,"verticalAlignment":"center","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"className":"is-style-default"} -->
<div class="wp-block-media-text alignfull is-stacked-on-mobile is-vertically-aligned-center is-style-default" style="margin-top:0;margin-bottom:0;grid-template-columns:55% auto"><figure class="wp-block-media-text__media"><img src="./wp-content/themes/puraprote-basic/assets/images/cover-sostenibilidad-movil-1.jpg" alt="" class="wp-image-16130 size-full"/></figure><div class="wp-block-media-text__content"><!-- wp:heading {"style":{"color":{"text":"#000000"}},"fontSize":"x-large"} -->
<h2 class="wp-block-heading has-text-color has-x-large-font-size" style="color:#000000"><strong>SOSTENIBILIDAD</strong></h2>
<!-- /wp:heading -->

<!-- wp:image {"id":16644,"width":"148px","height":"auto","sizeSlug":"large","linkDestination":"none"} -->
<figure class="wp-block-image size-large is-resized"><img src="./wp-content/themes/puraprote-basic/assets/images/1-for-the-planet-pura-prote-scaled-1-1024x436.jpeg" alt="1% for the planet pura prote" class="wp-image-16644" style="width:148px;height:auto"/></figure>
<!-- /wp:image -->

<!-- wp:paragraph -->
<p>Somos miembros de <strong>1% for the Planet</strong>; donamos el 1% de nuestras ventas a iniciativas ecológicas. </p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>En el 2024 lanzamos un nuevo empaque compostable. </p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Nuestras cucharitas medidoras son de madera y acero inoxidable.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"style":{"color":{"text":"#000000"}}} -->
<p class="has-text-color" style="color:#000000">Trabajamos con envases retornables, reciclables, reutilizables y que además son hechos con plástico reciclado. </p>
<!-- /wp:paragraph -->

<!-- wp:buttons {"style":{"spacing":{"margin":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40"}}}} -->
<div class="wp-block-buttons" style="margin-top:var(--wp--preset--spacing--40);margin-bottom:var(--wp--preset--spacing--40)"><!-- wp:button {"className":"is-style-fill"} -->
<div class="wp-block-button is-style-fill"><a class="wp-block-button__link wp-element-button" href="/sostenibilidad/">Más información</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div></div>
<!-- /wp:media-text --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"var:preset|spacing|80","bottom":"var:preset|spacing|80"},"padding":{"right":"var:preset|spacing|50","left":"var:preset|spacing|50","top":"var:preset|spacing|40","bottom":"var:preset|spacing|40"}}},"backgroundColor":"transparent","layout":{"type":"default"}} -->
<div class="wp-block-group has-transparent-background-color has-background" style="margin-top:var(--wp--preset--spacing--80);margin-bottom:var(--wp--preset--spacing--80);padding-top:var(--wp--preset--spacing--40);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--40);padding-left:var(--wp--preset--spacing--50)"><!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|80","bottom":"var:preset|spacing|30"}}},"layout":{"type":"constrained","contentSize":"1200px"}} -->
<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--80);padding-bottom:var(--wp--preset--spacing--30)"><!-- wp:heading {"textAlign":"center","level":3,"fontSize":"x-large"} -->
<h3 class="wp-block-heading has-text-align-center has-x-large-font-size">TESTIMONIALES DE CLIENTES</h3>
<!-- /wp:heading -->

<!-- wp:shortcode -->
[testimonial_view id="1"]
<!-- /wp:shortcode --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"align":"full","style":{"spacing":{"margin":{"top":"var:preset|spacing|80","bottom":"var:preset|spacing|80"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull" style="margin-top:var(--wp--preset--spacing--80);margin-bottom:var(--wp--preset--spacing--80)"><!-- wp:media-text {"align":"full","mediaPosition":"right","mediaId":16272,"mediaLink":"/nutricionistas-pura-prote/","mediaType":"image","verticalAlignment":"center","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"className":"is-style-default"} -->
<div class="wp-block-media-text alignfull has-media-on-the-right is-stacked-on-mobile is-vertically-aligned-center is-style-default" style="margin-top:0;margin-bottom:0"><div class="wp-block-media-text__content"><!-- wp:heading {"style":{"color":{"text":"#000000"}},"fontSize":"x-large"} -->
<h2 class="wp-block-heading has-text-color has-x-large-font-size" style="color:#000000"><strong>APROBADO POR NUTRICIONISTAS</strong></h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"style":{"color":{"text":"#000000"}}} -->
<p class="has-text-color" style="color:#000000">Nuestra amplia red de aliados incluye nutricionistas, médicos y otros profesionales de la salud que comparten nuestra filosofía de nutrición limpia.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Varios de ellos recomiendan activamente nuestros productos por su pureza y ausencia de aditivos. Este respaldo reafirma nuestra dedicación a la excelencia en suplementos y alimentos limpios.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>¿Sos nutricionista?</strong> Contactanos.</p>
<!-- /wp:paragraph -->

<!-- wp:buttons {"style":{"spacing":{"margin":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40"}}}} -->
<div class="wp-block-buttons" style="margin-top:var(--wp--preset--spacing--40);margin-bottom:var(--wp--preset--spacing--40)"><!-- wp:button {"className":"is-style-fill"} -->
<div class="wp-block-button is-style-fill"><a class="wp-block-button__link wp-element-button" href="/nutricionistas/">Más información</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div><figure class="wp-block-media-text__media"><img src="./wp-content/themes/puraprote-basic/assets/images/nutricionistas-pura-prote-1.jpg" alt="" class="wp-image-16272 size-full"/></figure></div>
<!-- /wp:media-text --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"padding":{"right":"0","left":"0"},"margin":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|70"}},"dimensions":{"minHeight":"0px"},"border":{"top":{"width":"1px","color":"var:preset|color|gray"},"right":{"width":"0px","style":"none"},"bottom":{"width":"1px","color":"var:preset|color|gray"},"left":{"width":"0px","style":"none"}}},"backgroundColor":"transparent","layout":{"type":"constrained"},"fontSize":"extra-small"} -->
<div class="wp-block-group has-transparent-background-color has-background has-extra-small-font-size" style="border-top-color:var(--wp--preset--color--gray);border-top-width:1px;border-right-style:none;border-right-width:0px;border-bottom-color:var(--wp--preset--color--gray);border-bottom-width:1px;border-left-style:none;border-left-width:0px;min-height:0px;margin-top:var(--wp--preset--spacing--70);margin-bottom:var(--wp--preset--spacing--70);padding-right:0;padding-left:0"><!-- wp:group {"tagName":"main","align":"wide","style":{"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50","left":"var:preset|spacing|40","right":"var:preset|spacing|40"},"margin":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}},"backgroundColor":"transparent","layout":{"type":"constrained"}} -->
<main class="wp-block-group alignwide has-transparent-background-color has-background" style="margin-top:var(--wp--preset--spacing--60);margin-bottom:var(--wp--preset--spacing--60);padding-top:var(--wp--preset--spacing--50);padding-right:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--50);padding-left:var(--wp--preset--spacing--40)"><!-- wp:heading {"textAlign":"center","style":{"elements":{"link":{"color":{"text":"var:preset|color|primary"}}}},"textColor":"primary","fontSize":"large"} -->
<h2 class="wp-block-heading has-text-align-center has-primary-color has-text-color has-link-color has-large-font-size">Envíos gratis en el GAM por compras mínimas de ¢35,000*</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"center","style":{"spacing":{"margin":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40","left":"0","right":"0"}}},"fontSize":"medium"} -->
<p class="has-text-align-center has-medium-font-size" style="margin-top:var(--wp--preset--spacing--40);margin-right:0;margin-bottom:var(--wp--preset--spacing--40);margin-left:0">Aplica para métodos de envío GAM estándar y Moovin.</p>
<!-- /wp:paragraph -->

<!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center"},"style":{"spacing":{"margin":{"top":"0","bottom":"0"}}}} -->
<div class="wp-block-buttons" style="margin-top:0;margin-bottom:0"><!-- wp:button -->
<div class="wp-block-button"><a class="wp-block-button__link wp-element-button" href="/envios/">Más información</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></main>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:cover {"customOverlayColor":"#ffffff","contentPosition":"center center","isDark":false,"align":"full"} -->
<div class="wp-block-cover alignfull is-light"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-100 has-background-dim" style="background-color:#ffffff"></span><div class="wp-block-cover__inner-container"><!-- wp:media-text {"align":"wide","mediaId":11918,"mediaLink":"/beauty-shop-home/fundadores-pura-prote-web/","mediaType":"image","mediaWidth":40,"verticalAlignment":"center","imageFill":false,"focalPoint":{"x":0.47,"y":0.25},"style":{"spacing":{"margin":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|70"}}},"backgroundColor":"gray"} -->
<div class="wp-block-media-text alignwide is-stacked-on-mobile is-vertically-aligned-center has-gray-background-color has-background" style="margin-top:var(--wp--preset--spacing--70);margin-bottom:var(--wp--preset--spacing--70);grid-template-columns:40% auto"><figure class="wp-block-media-text__media"><img src="./wp-content/themes/puraprote-basic/assets/images/fundadores-pura-prote-web.jpg" alt="pura prote cofundadores" class="wp-image-11918 size-full"/></figure><div class="wp-block-media-text__content"><!-- wp:heading {"style":{"color":{"text":"#000000"}},"fontSize":"large"} -->
<h2 class="wp-block-heading has-text-color has-large-font-size" style="color:#000000"><strong>INSTIGADORES DE CAMBIO</strong></h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"textColor":"primary"} -->
<p class="has-primary-color has-text-color">CO-FUNDADORES</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"fontSize":"medium"} -->
<p class="has-medium-font-size">Andrea y Daniel, la pareja fundadora de Pura Prote, son promotores incansables de nutrición limpia entre sus amigos y familiares. Les apasiona alzar pesas, cocinar comida nutritiva y viajar a tierras lejanas. Ella es diseñadora de profesión, tenista recreativa y puede hacer más de 20 pull-ups estrictos. Él es emprendedor vegetariano, autor frustrado y orgulloso de la fuerza de su esposa.</p>
<!-- /wp:paragraph --></div></div>
<!-- /wp:media-text --></div></div>
<!-- /wp:cover --></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"31px"} -->
<div style="height:31px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"var:preset|spacing|80","bottom":"var:preset|spacing|80"}}},"backgroundColor":"transparent","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-transparent-background-color has-background" style="margin-top:var(--wp--preset--spacing--80);margin-bottom:var(--wp--preset--spacing--80)"><!-- wp:group {"tagName":"main","align":"wide","style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}},"backgroundColor":"transparent","layout":{"type":"default"}} -->
<main class="wp-block-group alignwide has-transparent-background-color has-background" style="margin-top:var(--wp--preset--spacing--60);margin-bottom:var(--wp--preset--spacing--60);padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:shortcode -->
[instagram-feed feed=1]
<!-- /wp:shortcode --></main>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->