button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
//   @include button-reset();
    @extend .wp-element-button;
  
    line-height: 1.2;
}

.reset_variations {
    font-family: var(--wp--preset--font-family--fira-sans);
    border: 0;
    text-decoration: underline;
    background: none;
    padding: 0;

    &:active,
    &:focus,
    &:hover,
    &:focus-within {
      color: var(--wp--preset--color--primary);
    }
    // &:focus {
    //   box-shadow: 0 0 5px rgba($color__background-button, 1);
    // }
}


.wp-block-button.wp-block-button.wc-block-components-product-button .wc-block-components-product-button__button {
    /* line-height: inherit; */
    line-height: 1.2;
    // font-size: var(--wp--preset--font-size--small) !important;
}


  
  /* Inline #39 | https://ppdev.test/tienda/ */
  
.wp-element-button, .wp-block-button__link {
    box-sizing: border-box;
}
  