input[type="text"],
input[type="password"], 
input[type="email"], 
input[type="number"], 
input[type="url"], 
input[type="tel"], 
input[type="phone"], 
input[type="search"], 
select, 
textarea{
    --pp--input--bg-color: var(--wp--preset--color--gray);

	background-color: var(--pp--input--bg-color);
	border-color: --pp--input--bg-color;
	border-width: 0;
	border-style: solid;
	border-radius: var(--pp--input--radius);
	width: 100%;
	max-width: 100%;
    font-family: var(--wp--preset--font-family--fira-sans);
	font-size: var(--wp--preset--font-size--small);
    line-height: 1.7;
	// font-weight: 300;
    padding: 0.5rem 1em;
	outline: none;
	// font-weight: normal;
	// box-shadow: 0 1px 1px
    // rgba(0, 0, 0, 0.075) inset;
}

.wp-block-search__button-inside {
	@include input-button-group;
	.wp-block-search__button {
		padding-block: 0;
	}
}

:where(.wp-block-search__button-inside .wp-block-search__inside-wrapper) {
    border: 0;
    background-color: var(--wp--preset--color--gray) !important;
    border-radius: var(--pp--input--radius);
    overflow: hidden;
	padding: 0;

	.wp-block-search__input {
		background: transparent;
	}

	// .has-gray-background-color & {
	.has-background:not(.has-base-background-color) & {
		background-color: var(--wp--preset--color--base) !important;
		.wp-block-search__input {
			background: transparent;
		}
	}
}






@import "select";