.mc4wp-form,
.pp__form__signup {
    container-type: inline-size;
     * {
		box-sizing: border-box;
	}
    .nf-form-content {
        padding: 0;
    }

    .label-hidden .nf-field-label {
        width: 0;
    }
  
    // Button lower down sometimes
    .nf-field-container .nf-field-label {
        margin-bottom: 0 !important;
    }
    
}

/* Inline #97 | https://env-puraprote-ppsitio2.kinsta.cloud/ */
.pp__signup_container {
    .mc4wp-response {
        text-align: center;
    }
}


  

.ppmc-field,
.pp__form__signup nf-field {
	margin: 0 auto;
	max-width: 100% !important;
	
	
	input[type="email"] {
		width: 100%;
		text-align: center;
		// padding-block: 0.65rem;
		margin-bottom: 0.5em;
		font-size: var(--wp--preset--font-size--medium);
	}
	.wp-element-button, 
    .wp-block-button__link,
    input[type="submit"] {
		width: 100%;
		font-size: var(--wp--preset--font-size--medium);
		margin-bottom: 1rem;
        font-family: inherit;
        font-weight: bold;
        border: 2px solid var(--wp--preset--color--primary);
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        @include hover {
            color: var(--wp--preset--color--base);
            border: 2px solid #000;
            background: #000;
        }
	}
    .site-footer & {
        input[type="email"] {
            font-size: var(--wp--preset--font-size--small);
        }
        .wp-element-button, 
        .wp-block-button__link,
        input[type="submit"] {
            font-size: var(--wp--preset--font-size--small);
        }
    }
}

.has-background {

    .ppmc-field,
    .pp__form__signup nf-field {
        
        input[type="email"] {
            background: #fff;
        }
    }
}


// @container ( min-width: $breakpoint_medium ) 
// @container ( min-width: $breakpoint_large )

// @include medium-up {
@container ( min-width: 340px ) {
	.mc4wp-form-fields,
    .pp__form__signup nf-fields-wrap {
		display: flex;
        justify-content: center;

        nf-field .email-container .nf-after-field {
            margin-right: -125px;
        }
  
        .pp__hero--home & {
            justify-content: center;
        }
	}

	.ppmc-field,
    .pp__form__signup nf-field {
		margin: 0;
		width: auto;
		min-width: initial;

		@include input-button-group;
	}



    @include large-up {
        
        .pp__hero--home .mc4wp-form-fields,
        .pp__hero--home nf-fields-wrap {
            justify-content: flex-start;
        }
        .ppmc-field,
        .pp__form__signup nf-field {
            margin: initial;
            
            input[type="email"] {
                text-align: left;
            }
        }
    }
}
  
.pp__form__signup  {
    .nf-after-form-content,
    .nf-error-msg {
        text-align: center;

    }
}
