select {

    /* styling */
    // background-color: white;
    // border: thin solid blue;
    // border-radius: 4px;
    // display: inline-block;
    // font: inherit;
    // line-height: 1.5em;
    // padding: 0.5em 3.5em 0.5em 1em;
  
    /* reset */
    padding-right: 2.5em;
    margin: 0;      
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;

    /* minimal: https://codepen.io/vkjgr/pen/VYMeXp?editors=1100 */
    background-image:
    linear-gradient(45deg, transparent 50%, var(--wp--preset--color--contrast) 50%),
    linear-gradient(135deg, var(--wp--preset--color--contrast) 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
    background-position:
        calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px),
        calc(100% - 2.5em) 0.5em;
    background-size:
        5px 5px,
        5px 5px,
        1px 1.5em;
    background-repeat: no-repeat;

    &:focus {
        background-image:
          linear-gradient(45deg, var(--wp--preset--color--contrast) 50%, transparent 50%),
          linear-gradient(135deg, transparent 50%, var(--wp--preset--color--contrast) 50%),
          linear-gradient(to right, #ccc, #ccc);
        background-position:
          calc(100% - 15px) 1em,
          calc(100% - 20px) 1em,
          calc(100% - 2.5em) 0.5em;
        background-size:
          5px 5px,
          5px 5px,
          1px 1.5em;
        background-repeat: no-repeat;
        border-color: green;
        outline: 0;
    }

    &:-moz-focusring {
        color: transparent;
        text-shadow: 0 0 0 #000;
      }
  }
  