blockquote {
    position: relative;
    margin-inline: 0;
    padding: 0 2.75rem;
    font-size: 1.3em;
    line-height: 1.7;
    &::before {
        content: '\201C';
        display: block;
        font-size: 6rem;
        line-height: 0.8;
        font-family: Georgia, serif;
        position: absolute;
        left: 0;
        color: var(--wp--preset--color--subtle);
    }
}

iframe,
picture,
img,
video {
    max-width: 100%;
}