@mixin reset-list {
    list-style: none;
    padding-left: 0;
}

@mixin button-reset() {
    border: 0;
    text-decoration: none;
    background: none;
    padding: 0;
    color: $color__link;
    &:active,
    &:focus,
    &:hover,
    &:focus-within {
      color: $color__link-hover;
    }
    &:focus {
      box-shadow: 0 0 5px rgba($color__background-button, 1);
    }
  }

@mixin hover {
  &:active,
  &:focus,
  &:hover,
  &:focus-within {
    @content;
  }
}

@mixin arrow {
  content: '';
  border: solid var(--wp--preset--color--subtle);
  border-top-width: medium;
  border-right-width: medium;
  border-bottom-width: medium;
  border-left-width: medium;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 5px;
  vertical-align: middle;

  position:absolute;
  right: 0.5em;
  top: 0.9em;
}

@mixin arrow-down {
  top: 0.6em;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

@mixin arrow-right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

@mixin arrow-left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

@mixin arrow-up {
  top: 0.75em;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

@mixin input-button-group {
  input:not([type="submit"]) {
    text-align: left;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    margin-right: 0;
  }
  .wp-element-button, 
  .wp-block-button__link {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-left: 0;
  }
}