/* Extra large screens (large desktops, 1200px and up) */
@mixin xlarge-up {
    @media ( min-width: $breakpoint_xlarge ) {
        @content;
    }
}


/* Large screens (desktops, between 1024px and 1200px) */
@mixin large-up {
    @media ( min-width: $breakpoint_large ) {
        @content;
    }
}

/* Medium screens (tablets, between 768px and 1024px) */
@mixin medium-up {
    @media ( min-width: $breakpoint_medium ) {
        @content;
    }
}

/* Small screens (landscape mobile devices, between 576px and 1024px) */
@mixin smallish-up {
    @media ( min-width: $breakpoint_smallish ) {
        @content;
    }
}

@mixin smallish-down {
    @media ( max-width: calc($breakpoint_medium - 1px) ) {
        @content;
    }
}

/* Extra small screens (portrait mobile devices, less than 576px) */
@mixin small-only {
    @media ( max-width: $breakpoint_small ) {
        @content;
    }
}