$breakpoint_smallish: 576px;
$breakpoint_medium: 768px;
$breakpoint_large: 1024px;
$breakpoint_xlarge: 1200px;
$breakpoint_small: calc($breakpoint_smallish - 1px);

$breakpoint_columns: 900px;

:root {
    --pp--border--radius: 3px;
    --pp--input--radius: 3px;//1.75em;
    --pp--box-shadow: 0 0 5px 0px var(--wp--preset--color--gray);
}